@(title: String, styles: Html = Html(""), scripts: Html = Html(""), modals: Html = Html(""))(content: Html)

@import controllers.admin.routes

<!DOCTYPE html>
<html>
	<head>
		<title>@title</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/admin/favicon.png")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootswatch-superhero/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/admin/main.css")">
        <script data-main="@routes.Assets.versioned("javascripts/main-admin.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")" type="text/javascript"></script>
		@styles
	</head>
	<body>
		<div class="container">
			@content
		</div>
		@modals
		@scripts
	</body>
</html>
